{{define "artist"}}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="icon"
			type="image/x-icon"
			href="../../static/img/icons8-dice-32.png"
		/>
		<link
			rel="stylesheet"
			href="../../static/css/artist.css"
		/>
		<title>{{.Artist.NAME}} - Groupie Tracker</title>
	</head>
	<body>
		<div class="page-container">
			<header class="header">
				<a
					href="/"
					class="back-link"
					>&larr; All artists</a
				>
			</header>

			<section class="hero--section">
				<div class="hero-image-wrapper">
					<img
						src="{{.Artist.IMAGE}}"
						alt="{{.Artist.NAME}} image"
					/>
				</div>

				<div class="hero-details">
					<h2 class="artist-title">{{.Artist.NAME}}</h2>

					<div class="meta-grid">
						<div class="meta-card">
							<span class="meta-label">FORMED</span>
							<span class="meta-value">{{.Artist.CREATIONDATE}}</span>
						</div>
						<div class="meta-card">
							<span class="meta-label">FIRST ALBUM</span>
							<span class="meta-value">{{.Artist.FIRSTALBUM}}</span>
						</div>
						<div class="meta-card">
							<span class="meta-label">MEMBERS</span>
							<span class="meta-value">7</span>
						</div>
						<div class="meta-card">
							<span class="meta-label">CITIES TOURED</span>
							<span class="meta-value">8</span>
						</div>
					</div>
				</div>
			</section>

			<section class="members-section">
				<h3 class="section-title">MEMBERS</h3>
				<div class="tag-list">
					{{range .Artist.MEMBERS}}
					<div class="member-tag">{{.}}</div>
					{{else}}
					<p class="empty-text">No members listed.</p>
					{{end}}
				</div>
			</section>

			<section class="tour-section">
				<h3 class="section-title">TOUR LOCATIONS</h3>
				<div class="locations-grid">
					{{if .Relations.DATESLOCATION}} {{range $location, $dates :=
					.Relations.DATESLOCATION}} {{$info := formatLocation $location}}

					<div class="location-card">
						<h4 class="location-name">
							<div class="city-text">{{$info.City}}</div>
							<div class="country-text">{{$info.Country}}</div>
						</h4>
						<div class="date-divider"></div>
						{{range $dates}}
						<p class="location-date">{{.}}</p>
						{{end}}
					</div>
					{{end}} {{else}}
					<p class="empty-text">No Tour Dates Available</p>
					{{end}}
				</div>
			</section>
		</div>
	</body>
</html>
{{end}}
