{{define "ascii"}}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="/static/ascii.css"
		/>
		<!-- <style>
			body {
				background-color: red;
			}
		</style> -->
		<title>Ascii Generated</title>
	</head>
	<body>
		<div class="container">
			<h1>Result</h1>
			<pre>{{.Result}}</pre>
			<a href="/"><button type="button">Return to Home</button></a>
		</div>
	</body>
</html>
{{end}}
