{{define "ascii"}}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="/static/ascii.css"
		/>
		<!-- <style>
			body {
				background-color: red;
			}
		</style> -->
		<title>Ascii Generated</title>
	</head>
	<body>
		<div class="container">
			<h1>Result</h1>
			<pre>{{.Result}}</pre>
			<a href="/"><button type="button">Return to Home</button></a>
			{{if .Result}}
			<form
				action="/download"
				method="post"
			>
				<input
					type="hidden"
					name="ascii-data"
					value="{{.Result}}"
				/>
				<button type="submit">Download Ascii-Art</button>
			</form>
			{{end}}
		</div>
	</body>
</html>
{{end}}
